header {
max-width: 1300px;
padding: 10px 100px;
margin: 0 auto;
background: #AEA8A2;
justify-content: space-between;
align-items: center;
}

.menu {
    top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content:right;
   
   
  
}

.menu {
    font-size: 16pt;
    line-height: 1, 30rem;
    padding: 15px 5px;
    margin: -3%;

}

.menu {
    color:#AEA8A2 ;
}

.foto1 {
    border-radius: 50%;
    width: 50px;
    height: 50px;
   
    
}