@import './reset.css';

.contatos {
background: #c7e2cf;
}

.cont {
    display: flex;
    gap: 40px;
    justify-content: center;
    padding: 130px
}

.titulo{
    color: #000;
}

.formulario {
    max-width: 10px;
    padding: 10px 60px;
    margin: 0 ;
    display: grid;
    color: #000;
}

.bot {
    margin: auto;
    display: grid;
    
}

#mensagem {
    height: 50px;
}

.oi {
    color: #000;
}